.igs-btn-secundary:focus,.igs-btn-primary:focus{
    outline: none;
}


.igs-btn-secundary, .igs-btn-primary{
    border: none;
    font-weight: 500;
    font-size: 14pt;
    padding:  7px 15px 7px 15px;
    border-radius: 3px;
}
