
h2{
    font-weight:700;
    font-size: 16pt;
    margin-left: 20px; 
}
h1{
    font-weight:700;
    font-size: 16pt;
    line-height: 64px;
    vertical-align: middle;
    text-indent: 20px;
    margin: 0;
}
