$primary: rgba(0, 42, 255, 0.847);

$shadow-select: 0px 0px 20px 0px adjust-color($primary, $alpha: -0.9);

body{
    background-color: #383838;
}

div.igs-input > span{
    color: rgba(255, 255, 255, 0.8);
}
div.igs-input.igs-focus > span{
    color:#fff;
}
div.igs-input.igs-error > input{
    caret-color: #f00;

}
div.igs-input.igs-error > span{
    color: #f00;
}
div.igs-input, div.igs-input.igs-focus > line{
    background-color: adjust-color(#fff, $alpha: -0.95);
}

div.igs-input.igs-error, div.igs-input.igs-focus.igs-error,  div.igs-input.igs-focus.igs-error > line{
    background-color: rgba(255,0,0, .1);
}



button.igs-button1{
    background-color: rgba(0,0,0, .0);
    color:  $primary;
}

.buttons > span{
    color: #f00;
}


input{
    background-color: rgba(0,0,0,0) !important;
    color: rgba(255, 255, 255, 0.8);
    caret-color: #002bff;

}


div.igs-input > input{
    border-color: rgba(0,0,0, .5);
    
}
div.igs-input > input:focus{
    border-color: rgba(0,0,0, .0);
}



h2{
    color: rgba(0, 0, 0, 0.8);
}

.igs-btn-primary{
    background-color: #fff;
    color: #383838;
}

.igs-btn-primary:hover{
    background-color: adjust-color(white, $alpha: -0.2);
}
.igs-btn-primary:active{
    background-color: darken(white, 10%);
}


.igs-btn-secundary:active{
    background-color: adjust-color($primary, $alpha: -0.9);

}


.igs-btn-secundary{
    color: #fff;
    background-color: rgba(255,255,255, 0.05);

}
.igs-active > .igs-switch-circle{
       background-color: #fff
}

.igs-switch-circle{
    background-color: rgba(255,255,255, .5)
}
.igs-switch.igs-active{
    background-color: rgba(255,255,255, .2)
}
.igs-switch{
    background-color: rgba(255,255,255, .1)
}
.igs-select > span{
    color:$primary;
 
}
.igs-select{
    background-color: #fff;
    color: #333;

}
.igs-select.igs-select-show {
    box-shadow: $shadow-select;

}

$shadow-card: 0px 0px 20px 0px adjust-color($primary, $alpha: -0.9);

div.igs-card{
    box-shadow: $shadow-card;
    background-color: #383838;
}
.igs-select.igs-select-show > option:hover, .igs-select.igs-select-show > span:hover{
    background-color: adjust-color($primary, $alpha: -0.8);
    color: $primary
}

.logo-login{
    filter: invert(0.4) saturate(100) brightness(10);
}
.logo-tweaks{
    filter: invert(0.4) saturate(100) brightness(10);

}

.username, .tweak{
    background-color:rgba(255, 255, 255, 0.05);
    color: #fff;
}
.icon-loading{
    filter: invert(0.8);
}